
<form method = 'post' action = '/input'>	
	Enter name:
	<input type = "text" name = "names"><button type = "button" onclick = "nameList.addNames(names)">Add</button><br>
	<input type = "submit" value = "submit"><br>
</form>

<script>
	var nameList = {
		nameArray: [],
		addNames: function(){
			this.nameArray.push(names);
			console.log(this.nameArray)
		}
	};
</script>

