<form method = 'post' action = '/input'>	
	Enter name:
	<input type = "text" name = "names[]" pattern = "[A-Za-z]{1-15}"><button onclick="handlers.addnames()">Add</button><br>
 	<input type = "submit" value = "pair"><br>
</form>